 table{
 	width: 100%;
 	border-collapse: collapse;
 	box-shadow: 3px 3px 3px #ddd;
 }
 tr:nth-child(even){
 	background: #ddd;

 }
 td,
 th{
 	padding: 1%;
 }
 .skdiv{
 	width:100%;
 	border-left:3px solid #ddd;
 }
 span
 {
 	background:pink;
 	border: 1px solid #082D6E;
 	color:#FFF;
 	box-shadow: 3px 3px 3px #ddd;
 	margin:1%;
 	padding: 1%;
 	border-radius: 5px;
 }
 .parent{
 	display:flex;
 	flex-direction: row;
 	justify-content: center;
 	background: blue;
 }
 .child1{
 	width: 30%;
 	border: 1px solid #ddd;
 	padding: 1%;
 	margin: 1%;
 	background:red;
 }
 .child2{
 	width: 70%;
 	border: 1px solid #ddd;
 	padding: 1%;
 	margin: 1%;
 	background: cyan;
 }
 .profile
{
	display:block;
	margin-left: auto;
	margin-right: auto;
	width:200px;
	height:200px;

}
h2{
	background: yellow;
	text-align: center;
	color: blue;
}
a{
	text-decoration: none;
	font-size: 25px;
}
p{
	font-size:18px;
}
 /*Small Screens*/
 @media only screen and (min-width: 320px) and (max-width: 480px){
  .parent{
 	display:flex;
 	flex-direction: column;
 	justify-content: center;
 	background: magenta;
 }
 .child1{
 	width: 100%;
 	border: 1px solid #ddd;
 	padding: 1%;
 	margin: 1%;
 	background:purple;
 }
 .child2{
 	width: 100%;
 	border: 1px solid #ddd;
 	padding: 1%;
 	margin: 1%;
 	background:yellow;
 }
 }
 /*Medium Screens*/
 @media only screen and (min-width: 481px) and (max-width: 768px){
 .parent{
 	display:flex;
 	flex-direction: column;
 	justify-content: center;
 	background: yellow;
 }
 .child1{
 	width: 100%;
 	border: 1px solid #ddd;
 	padding: 1%;
 	margin: 1%;
 	background:pink;
 }
 .child2{
 	width: 100%;
 	border: 1px solid #ddd;
 	padding: 1%;
 	margin: 1%;
 	background: orange;
 }	
 }
 /*Large Screens*/
 @media only screen and (min-width: 769px) and (max-width: 1024px){
 .parent{
 	display:flex;
 	flex-direction:column;
 	justify-content: center;
 	background:black;
 }
 .child1{
 	width: 100%;
 	border: 1px solid #ddd;
 	padding: 1%;
 	margin: 1%;
 	background:white;
 }
 .child2{
 	width: 100%;
 	border: 1px solid #ddd;
 	padding: 1%;
 	margin: 1%;
 	background:lightgreen;
 }	
 }